.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background: linear-gradient(135deg, #2575fc, #6a11cb);
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.button {
    padding: 0.8rem 1.6rem;
    background-color: white;
    color: #2575fc;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    background-color: #f4f7fc;
    height: calc(100vh - 80px); /* Ajuste para que el main ocupe el espacio restante */
}

.main h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
}

.main p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    max-width: 600px;
    text-align: center;
}